


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
          <strong><span>SayWah</span></strong> &copy; 2022. All Rights Reserved
    </div>
    <div class="footer_menu">
        <ul>
            <li><a href="">Privacy policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Help and Support</a></li>
        </ul>
    </div>
    <!-- <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div> -->
</footer><!-- End Footer -->