<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-">
      <a class="nav-link" href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/routes">
        <i class="bi bi-sign-turn-slight-right"></i>
        <span>Routes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/drivers">
        <i class="bi bi-sign-turn-slight-right"></i>
        <span>Drivers</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="/admin/drivers"
      >
        <i class="bi bi-person"></i><span>Drivers</span
        > -->
        <!-- <i class="bi bi-chevron-down ms-auto"></i> -->
      <!-- </a> -->
      <!-- <ul
        id="components-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/admin/drivers">
            <i class="bi bi-circle"></i><span>Drivers</span>
          </a>
        </li>
        <li>
          <a href="/admin/otherUsers">
            <i class="bi bi-circle"></i><span>Others</span>
          </a>
        </li>
      </ul> -->
    <!-- </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/retailers_shippers">
        <i class="bi bi-truck"></i>
        <span>Retailers/Shippers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/reports">
        <i class="bi bi-bar-chart"></i>
        <span>Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/staff">
        <i class="bi bi-people"></i>
        <span>SayWah Staff</span>
      </a>
    </li>
  </ul>
</aside>