
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SayWah</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/public/assets/img/logoBG.png" rel="icon">
  <link href="/public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/public/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/public/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/assets/css/style.css" rel="stylesheet">
  <link href="/public/assets/css/main.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"></script>
  

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>

    <div class="welcomecard">
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class=" welcomeCard col-11 col-sm-9 col-md-7 col-lg-4 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <div class="saywah_logo">
                            <img src="/public/assets/img/logoBG.png">
                        </div>
                        <h2 class="welcomeText"><strong>Welcome to SayWah</strong></h2>
                        <!-- <p>Lorem Ipsum is a dummy content</p> -->
                        <div class="chooseOption">
                            <div class="logintoSite">
                                <button class="chooseLoginopt btn"><a href="/admin/login">Login</a></button>
                                 <div class="didivderSignup"><span>OR</span></div>
                                <button class="googleLogin driverSogmup btn btn-primary" type="submit"><a href="/admin/register">Driver Signup</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/public/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/public/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/public/assets/vendor/quill/quill.min.js"></script>
  <script src="/public/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/public/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/public/assets/js/main.js"></script>


  <script src="/public/assets/js/common.js"></script>

</body>

</html>